@charset "UTF-8"; /* 文字コード宣言 */
@import url("../common/styles/default/base.css");
@import url("../common/styles/default/main.css");


#main h1:before {
	content: url("contact_h1.png");
}
* html #main h1 span.jp { /* IE6 用 */
	list-style-image: url("contact_h1.png");
}
*+html #main h1 span.jp{ /* IE7 用 */
	list-style-image: url("contact_h1.png");
}

div#main {
	background-image: none;
}

#main div.section {
	float: none;
	width: auto;
	margin-top: 20px;
}

#main p {
	color: #3300FF;
	font-weight: 700;
}

#main form div {
	margin-left:  20px;
	margin-right: 20px;
}